.app-container {
  position: relative;
  text-align: center;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  background-color: transparent;
  font-size: calc(10px + 2vmin);
  align-items: center;
  justify-content: center;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
}

.background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.expriencedWithImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  pointer-events: none;
  max-width: 100%;
}

.logo {
  height: 80px;
  pointer-events: none;
}

.Seclogo {
  width: 50px;
  height: 50px;
  padding-top: 5px;
  padding-left: 15px;
}

.Thirdlogo {
  width: 70px;
  height: 55px;
  padding-top: 5px;
  padding-left: 20px;
}

.Fourthlogo {
  width: 65px;
  height: 60px;
  padding-top: 20px;
  padding-left: 15px;
}

.projectsContainer, .experienceContainer, .educationContainer {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  width: 100%;
}

.projects, .experiences, .educations {
  display: flex;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  width: calc(100% * 20);
  overflow-x: hidden; 
  background-color: #61B2D1;
  border-radius: 40px;
}

.project, .experience, .education {
  flex: none;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.description {
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  position: relative; 
  padding-left: 20px;
  text-align: left;
  color: black;
}

.app-container {
  scrollbar-width: none;
}

.app-container::-webkit-scrollbar {
  display: none;
}

.app-container {
  -ms-overflow-style: none; 
}

@media only screen and (max-width: 1200px) {
  .description {
    font-size: 9px;
  }

  .logo, .Seclogo {
    max-width: 30%;
  }

}